.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title{
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 2px 2px 4px beige;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 32px;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.label{
    margin-bottom: 20px;
}


.input_div{
    margin-bottom: 20px;
}
.input{
    width: 220px;
    height: 35px;
    border-radius: 8px;
    color: black;
}
.input:hover{
    background-color: rgb(196, 196, 188);
}

.btn{
    width: 220px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;

    
}

.btn:hover{
    background-color: darkcyan;
    color: black;
    
}

.message{
    color: green;
}
.mess{
    color: red;
}