.container {
    margin-top: 2rem;
    position: relative;
    padding: 2rem 0;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  @media (max-width: 840px) {
    .container {
      width: 90%;
    }
  }
  
  @media (max-width: 650px) {
    .container {
      flex-direction: column;
      gap: 3rem;
    }
  }
  
  .profile {
    flex: 1;
  }
  
  .address {
    padding: 1rem 0;
  }
  
  .address h1 {
    font-size: 1.2rem;
  }
  
  .address p {
    width: 60%;
    padding-top: 0.5rem;
  }
  
  @media (max-width: 650px) {
    .address p {
      width: 100%;
    }
  }
  
  .links h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .links div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .links a {
    text-decoration: none;
    color: lightgray;
  }
  
  .links a:hover {
    color: orange;
  }
  
  .profiles h1 {
    font-size: 1.2rem;
    padding: 1rem 0;
  }
  
  .profiles .icons {
    display: flex;
    align-items: center;
  }
  
  .profiles .icons span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    border-radius: 50px;
  }
  
  .profiles .icons span:hover {
    background-color: orange;
  }
  
  .profiles .icons span a {
    margin-top: 0.2rem;
    color: #fff;
  }
  
  .arrowUp {
    width: 2rem;
    height: 2rem;
    background-color: #01be96;
    display: flex;
    align-items: center;
  }
  