.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  

}
.titulo{
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

 .form_conte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 5px 20px;
    background-color: azure;
    height: 600px;
    width: 500px;
    margin-top: 30px;
    margin-left: 300px;
    box-shadow: 5px 5px 4px #888888;
    border-radius: 15px;
    
 }
 .div_pass {
  margin-top: 10px;
  margin-bottom: 10px;
 }
 .div_email {
  margin-bottom: 10px;
 }
.label {
  color: black;
  margin-bottom: 50px;
  font-size: large;
  font-weight: bold;
}
.tituloH{
  display: flex;
  margin-bottom: 40px;
  font-size: 30px;
  color: black;
}

.input{
  color: black;
  background-color: rgb(114, 121, 124);
  border: 1px solid black;
  width: 250px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
}
.input:hover {
  background-color: white;
}

.pass {
  display: flex;
  flex-direction: row;
 
}
.logo{

 color: brown;

}

.btn_login {
  color: black;
  margin-top: 20px;
  background-color: darkslategrey ;
  width: 110px;
  height: 35px;
  padding: 8px;
  border-radius: 5px;
}
.btn_login{
  box-shadow: 5px 5px 4px  #888888;
}
.btn_login:hover {
  background-color: gray;
  cursor: pointer;
}
.error{
  color: red;
  margin-top: 20px;
}
.divv{
  margin-top: 40px;
}
.registro{
  color: black;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 10px;
}
.cambio{
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 8px;
  margin-left: 55px;
}


.conte_comple{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bienvenido{
  color: white;
  font-size: 50px;
  font-weight: bolder;
}
.init{
  font-size: 30px;
  justify-content: center;
}
